[Unit]
Description=Very last service
After=default.target

[Service]
Type=oneshot
ExecStart=/root/resources/setup_ivg_radius.sh

[Install]
WantedBy=default.target
